<!DOCTYPE html>
<html ng-app="ngInterestCalc" ng-controller="AppCtrl">
    <head>
        <title ng-bind="pageTitle">Interest Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />

        <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="base.js"></script>

        <style>
            body{
                margin: 20px 20px 20px 20px;
            }
        </style>
    </head>
    <body>
    <a href="https://github.com/RhinoLance/InterestCalculator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="container">
        <div class="panel panel-warning">
            <div class="panel-heading"><h1>Daily compounding interest calculator</h1></div>
            <div class="panel-body">
               <form class="form-horizontal controls span6">
                    <div class="form-group">
                        <label for="principal" class="col-sm-3 control-label">Principal Amount ($)</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" ng-model="formData.principal" placeholder="Principal Amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rate" class="col-sm-3 control-label">Interest Rate (%)</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" ng-model="formData.rate" placeholder="Interest rate (%)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="days" class="col-sm-3 control-label">Days overdue</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" ng-model="formData.daysOverdue" placeholder="Days overdue" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="result" class="col-sm-3 control-label">Interest</label>
                        <div class="col-sm-2">
                            <input type="text" class="btn-info form-control" value="${{resultData.interest}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="result" class="col-sm-3 control-label">Total</label>
                        <div class="col-sm-2">
                            <input type="text" class="btn-warning form-control" value="${{resultData.total}}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>